extends modules/layout/_page-default

block head
  +head('Home')
block sidebar
  +sidebar({})
block main
  .main
    .container
      h2 Home Content
      .row
        -
          var devicesData = {
            labels: ["Desktop", "Tablet", "Mobile"],
            datasets: [
              {
                backgroundColor: ["#2C7BE5", "#A6C5F7", "#D2DDEC"],
                data: [60, 25, 15]
              }
            ]
          }
        -
          var devicesData2 = {
            labels: ["Desktop", "Tablet", "Mobile"],
            datasets: [
              {
                backgroundColor: ["#2C7BE5", "#A6C5F7", "#D2DDEC"],
                data: [60, 25, 15]
              }
            ]
          }
        -
          var devicesData3 = {
            labels: ["Desktop", "Tablet", "Mobile"],
            datasets: [
              {
                backgroundColor: ["#2C7BE5", "#A6C5F7", "#D2DDEC"],
                data: [60, 25, 15]
              }
            ]
          }