extends modules/layout/_page-default

block head
  +head('EX-03-alternative')
block sidebar
  +sidebar({
    category: 'Dashboards',
    currentPage: 'Alternative'
  })
block main
  .main
    h2 Alternative 
    h3.my-3 Hover use transition, transition origin, transition-delay + transform: translateY()
    h3.my-3 Hover use transition, transition origin, transition-delay + transform: translateY()
    h3.my-3 Hover use transition, transition origin, transition-delay + transform: translateY()
    h3.my-3 Hover use transition, transition origin, transition-delay + transform: translateY()
    h3.my-3 Hover use transition, transition origin, transition-delay + transform: translateY()
    h3.my-3 Hover use transition, transition origin, transition-delay + transform: translateY()
    h3.my-3 Hover use transition, transition origin, transition-delay + transform: translateY()
